/** @format */

@import './constants/fonts';

@import './constants/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $primary-color;
	color: white;
	font-family: 'proxima', 'sand-serif';
}

@import './components/navbar';
